{% extends "ioc_main.html" %}
{% block content %}
    <div class="col-lg-8 mx-auto p-4 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4" style="margin-left: 10px; padding-top: 4px; font-family: 'Black Han Sans', sans-serif" >건설 정보 조회 시작하기</span>
            </a>
        </header>

        <main>
            <h1 style="font-family: 'Black Han Sans', sans-serif">건설 정보 조회하는 방법</h1>
            <p class="fs-5 col-md-8" style="color: gray; font-family: 'Jua', sans-serif">옆의 조회 메뉴를 클릭하는것으로 빠르게 <br>건설 정보 조회를 시작할 수 있습니다!</p>

            <hr style="margin-top: 45px; padding-top: 45px">

            <div class="row g-5">
                <div class="col-md-6">
                    <h2 style="font-family: 'Black Han Sans', sans-serif">문의 및 건의</h2>
                    <p style="color: gray; font-family: 'Jua', sans-serif">
                        사용하다 문제가 생기거나, 추가되었으면 하는 기능을<br> 개발자에게 알려주세요!
                        <br>
                    </p>
                    <ul class="icon-list ps-0">
                        <li class="d-flex align-items-start mb-1">
                            <a href="" style="font-family: 'Jua', sans-serif">
                                문의 & 건의하러 가기
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </main>
    </div>
{% endblock %}